body{
    font-family: Arial, sans-serif;
    background-color: lightgray;
    text-align: center;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.card {
    background: white;
    width: 280px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    text-align: center;
}

.card img {
    width: 100%;
    height: 180px;
}
.card h3 {
    font-size: 18px;
    margin: 15px 0 10px;
}
.desc {
    font-size: 14px;
    color: dimgray;
    margin-bottom: 10px;
}
.price {
    color: green;
    font-size: 22px;
    margin: 10px;
}
button {
    background-color:blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
}
button:hover {
    background-color: darkblue;
}