div {
    height: 100px;
    width: 100px;
    background-color:  pink;
    border: 2px solid brown;
    /* border-radius: 50%; */
    /* padding-left: 20px;
    padding-bottom: 25px; */
    padding: 1px 2px 3px 4px;
    margin-bottom: 50px;
} 